@import "./components/button.scss";
@import "./components/link-icons";
@import "./components/display.scss";
@import "./components/carousel.scss";
body {
  font-family: "Play", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
  margin-bottom: 5px;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

header {
  background: #fff url(../img/img-index/section1.png) no-repeat right top;
  background-size: cover;
  min-height: 45vw;
  color: #fff;

  .navigation {
    background-color: #242530;
    position: absolute;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.13em;
    font-weight: 600;
    .navbar-expand-lg {
      justify-content: space-between;
    }
    .navbar-brand {
      width: 15%;
      min-width: 200px;
      img {
        width: 100%;
      }
    }
    .navbar-nav {
      flex-grow: 1;
      justify-content: space-around;
      margin: auto 1em;
      .nav-link {
        color: white;
        cursor: pointer;
        padding-bottom: 3px;
        transition: 0.3s;
        &:hover {
          color: #f58122;
        }
      }
      .active {
        &:hover {
          color: #fff;
        }
        &::after {
          content: "";
          height: 1px;
          width: 100%;
          display: block;
          background-color: #fff;
        }
      }
    }
    .navbar-player {
      display: flex;
      align-items: center;
      font-size: 1em;
      font-weight: 400;
      width: 210px;
      .player-playPause {
        cursor: pointer;
        padding: 5px;
        border-radius: 100%;
        transition: 0.3s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
      .player-headline {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;

        white-space: nowrap;
        overflow: hidden;
        .headline-title {
          overflow: hidden;
          display: inline-block;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .first-section {
    background: transparent url(../img/elipsis-1.png) no-repeat center;
    background-size: contain;
    min-height: 45vw;
    .row {
      min-height: 45em;
      .col-5 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin-top: 5em;
        h1 {
          font-size: 3em;
          line-height: 1.5em;
        }
        .link-subsection {
          display: flex;
          width: 40%;
          justify-content: space-between;
          margin-top: 5em;
        }
      }
      .col-3 {
        .play-pause-container {
          border-radius: 100%;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
          img {
            width: 100%;
          }
        }
        .volume-container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          margin-top: 2em;
          .icon {
            width: 1.5em;
            height: 1.5em;
          }

          .volume-wrapper {
            margin: 0 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="range"] {
              cursor: pointer;
              overflow: hidden;
              width: 100%;
              -webkit-appearance: none;
              background-color: transparent;
            }

            input[type="range"]::-webkit-slider-runnable-track {
              height: 10px;
              -webkit-appearance: none;
              color: #f58122;
              margin-top: -1px;
            }

            input[type="range"]::-webkit-slider-thumb {
              width: 10px;
              -webkit-appearance: none;
              height: 10px;
              cursor: ew-resize;
              background: #434343;
              box-shadow: -80px 0 0 80px #f58122;
            }

            input[type="range"]::-moz-range-progress {
              background-color: #f58122;
            }
            input[type="range"]::-moz-range-track {
              background-color: #fff;
            }
            input[type="range"]::-ms-fill-lower {
              background-color: #f58122;
            }
            input[type="range"]::-ms-fill-upper {
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  .second-section {
    position: relative;
    bottom: -2.5em;
    .container {
      display: flex;
      justify-content: space-between;
      .song-card {
        background-color: #242530;
        border-radius: 0.5em;
        padding: 1.5em 2em;
        min-width: 22em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .icon {
          width: 1.5em;
          height: 1.68em;
        }
        &-info {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

main {
  .third-section {
    margin: 5vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .slider-container {
      margin-top: 2em;
      .icon {
        width: 1em;
        height: 2em;
        // fill: #242530; #242530
        fill: #6b6b6b;
        transition: .3s;
      }

      .carousel-control-prev,
      .carousel-control-next {
        opacity: 1;
        &:hover {
          opacity: 1;
          .icon {
            fill: #f58122;
          }
        }
      }
    }
  }
  .fourth-section {
    background: #242530 url(../img/elipsis-2.png) no-repeat top;
    background-size: contain;
    min-height: 28vw;
    color: #fff;
    .container {
      min-height: 28vw;
      display: flex;
      justify-content: center;
      align-items: center;
      .row {
        text-align: center;
        min-height: 15vw;
        .flex-center {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 0 2em;
          span {
            display: inline-block;
            &::before {
              content: "";
              display: block;
              width: 5em;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.5);
            }
          }
        }
        .col-1::before {
          content: "";
          display: block;
          height: 100%;
          width: 0.1em;
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .fifth-section {
    display: flex;
    .container-fluid {
      padding: 0;
      .row {
        .col-6 {
          img {
            width: 100%;
          }
        }
        .col-5 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .info {
            padding: 1em;
            margin-top: 7%;
            &-container {
              margin: 5% 0;
              p {
                font-size: 1.13em;
              }
            }
          }
        }
      }
    }
  }
  .sixth-section {
    background-color: #242530;
    color: #fff;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 5% 0;
      h3 {
        margin-top: 2%;
      }
      .pp-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 2vw;
        width: 100%;
        margin: 5% 0;
        .img-container {
          position: relative;
          img {
            position: relative;
            width: 100%;
            border-radius: 4%;
          }
          .img-text {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 32%;
            background-color: #fff;
            color: black;
            z-index: 1;
            bottom: 0;
            border-radius: 0 0 10px 10px;
            padding: 3% 3%;
            transition: 0.4s;
            line-height: 20px;
            p {
              color: #525257;
              margin-bottom: 0;
            }
          }
          &:hover .img-text {
            opacity: 1;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .seventh-section {
    margin: 5% 0;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .row {
        width: 100%;
        margin: 5% 0;
        .card {
          border: none;
          width: 100%;
          height: 32vw;
          .card-body {
            padding: 1.25em 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            p:last-child {
              color: #525257;
              font-weight: 300;
            }
            span {
              display: inline-block;
              width: 100%;
              text-align: right;
              color: #525257;
              font-size: 0.88em;
            }
          }
        }
        .card1 {
          background: #fff url(../img/news/news1.jpg) no-repeat right top;
          background-size: contain;
          &:hover {
            background: #fff url(../img/news/news1.jpg) no-repeat right top;
            background-size: contain;
          }
        }
        .card2 {
          background: #fff url(../img/news/news2.jpg) no-repeat right top;
          background-size: contain;
          &:hover {
            background: #fff url(../img/news/news1.jpg) no-repeat right top;
            background-size: contain;
          }
        }
        .card3 {
          background: #fff url(../img/news/news3.jpg) no-repeat right top;
          background-size: contain;
          &:hover {
            background: #fff url(../img/news/news1.jpg) no-repeat right top;
            background-size: contain;
          }
        }
      }
    }
  }
}

footer {
  background: #242530 url(../img/elipsis-footer1.png) no-repeat top;
  background-size: contain;
  font-family: "Source Sans Pro", sans-serif;
  color: #e9e9e9;
  .container {
    min-height: 29vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      color: #e9e9e9;
      text-decoration: none;
      font-weight: 300;
    }
    h4 {
      margin-bottom: 1.5em;
    }
    .row {
      justify-content: space-between;
      .col-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-container {
          margin-bottom: 15%;
          img {
            width: 90%;
          }
        }
        .button {
          &:not(:last-child) {
            margin-bottom: 1em;
          }
        }
      }
      .col-4 {
        padding-left: 2.5em;
        h4 {
          padding-left: 1.5em;
        }
        .info-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 1em 0;
          .icon-container {
            width: 24px;
            height: 24px;
            margin-right: 1em;
            .icon {
              width: 24px;
              height: 24px;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .col-2 {
        padding-left: 0;
        .info {
          ul {
            list-style: none;
            padding: 0;
            li {
              &:not(:last-child) {
                margin-bottom: 0.5em;
              }
            }
          }
        }
      }
    }
  }
}
