.button {
  width: 10.25em;
  height: 2.75em;
  border-radius: 0.5em;
  background-color: #F58122;
  color: #242530;
  border: none;
  border: 2px solid #F58122;
  transition: 0.2s;
}
.button--small {
  width: 8.62em;
}
.button--nobg {
  background-color: transparent;
  color: #fff;
}
.button:hover {
  border: 2px solid #fff;
}
.button:focus {
  background-color: #CA6D20;
  color: #242530, 100%;
}

body {
  font-family: "Play", sans-serif;
  font-size: 1em;
}

header {
  background: #fff url(../img/img-index/section1.png) no-repeat right top;
  background-size: cover;
  min-height: 45vw;
  color: #fff;
}
header .navigation {
  background-color: #242530;
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
}
header .navigation .navbar-expand-lg {
  justify-content: space-between;
}
header .navigation .navbar-brand {
  width: 15%;
  min-width: 200px;
}
header .navigation .navbar-brand img {
  width: 100%;
}
header .navigation .navbar-nav {
  flex-grow: 1;
  justify-content: space-around;
  margin: auto 1em;
}
header .navigation .navbar-nav .nav-link {
  color: white;
  cursor: pointer;
  padding-bottom: 3px;
}
header .navigation .navbar-nav .nav-link:hover {
  color: #F58122;
}
header .navigation .navbar-nav .active:hover {
  color: #fff;
}
header .navigation .navbar-nav .active::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: #fff;
}
header .navigation .navbar-player {
  display: flex;
  align-items: center;
}
header .navigation .navbar-player .player-headline {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
header .first-section {
  background: transparent url(../img/elipsis-1.png) no-repeat center;
  background-size: contain;
  min-height: 45vw;
}
header .first-section .row {
  min-height: 45em;
}
header .first-section .row .col-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-top: 5em;
}
header .first-section .row .col-5 h1 {
  font-size: 3em;
  line-height: 1.5em;
}
header .first-section .row .col-5 .link-subsection {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-top: 5em;
}
header .first-section .row .col-5 .link-subsection .round-border {
  border: 2px solid #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
}
header .first-section .row .col-5 .link-subsection .round-border .icon {
  width: 2em;
  height: 2em;
}
header .first-section .row .col-3 .play-pause-container img {
  width: 100%;
}
header .first-section .row .col-3 .volume-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
header .first-section .row .col-3 .volume-container .icon {
  width: 1.5em;
  height: 1.5em;
}
header .first-section .row .col-3 .volume-container .volume-wrapper {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .first-section .row .col-3 .volume-container .volume-wrapper input[type=range] {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: transparent;
}
header .first-section .row .col-3 .volume-container .volume-wrapper input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #F58122;
  margin-top: -1px;
}
header .first-section .row .col-3 .volume-container .volume-wrapper input[type=range]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -80px 0 0 80px #F58122;
}
header .first-section .row .col-3 .volume-container .volume-wrapper input[type=range]::-moz-range-progress {
  background-color: #F58122;
}
header .first-section .row .col-3 .volume-container .volume-wrapper input[type=range]::-moz-range-track {
  background-color: #fff;
}
header .first-section .row .col-3 .volume-container .volume-wrapper input[type=range]::-ms-fill-lower {
  background-color: #F58122;
}
header .first-section .row .col-3 .volume-container .volume-wrapper input[type=range]::-ms-fill-upper {
  background-color: #fff;
}
header .second-section {
  position: relative;
  bottom: -2.5em;
}
header .second-section .container {
  display: flex;
  justify-content: space-between;
}
header .second-section .container .song-card {
  background-color: #242530;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  min-width: 22em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .second-section .container .song-card .icon {
  width: 1.5em;
  height: 1.68em;
}
header .second-section .container .song-card-info {
  display: flex;
  flex-direction: column;
}

main .third-section {
  margin: 5vw 0;
}
main .third-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .third-section .container .slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
main .third-section .container .slider-container .soon-container {
  width: 22%;
}
main .third-section .container .slider-container .soon-container img {
  width: 100%;
}
main .fourth-section {
  background: #242530 url(../img/elipsis-2.png) no-repeat top;
  background-size: contain;
  min-height: 28vw;
  color: #fff;
}
main .fourth-section .container {
  min-height: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .fourth-section .container .row {
  text-align: center;
  min-height: 15vw;
}
main .fourth-section .container .row .flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}
main .fourth-section .container .row .flex-center span {
  display: inline-block;
}
main .fourth-section .container .row .flex-center span::before {
  content: "";
  display: block;
  width: 5em;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
main .fourth-section .container .row .col-1::before {
  content: "";
  display: block;
  height: 100%;
  width: 0.1em;
  background-color: rgba(255, 255, 255, 0.5);
}